@font-face {font-family: "iconfont";
    src: url('./Font/iconfont.ttf?t=1606644388156') format('truetype');
}

body, html {
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #CCCCFF;
}

.header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
}

.head {
    -webkit-app-region: no-drag;
    height: 60px;
    width: 60px;
    border:5px solid red;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
}

.header-top {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
}

.header-bottom {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.ctrlButton {
    -webkit-user-select: none;
    height: 30px;
    width: 230px;
    position: absolute;
    right: 0px;
    top: 0px;
}
.ctrlButton div {
    -webkit-app-region: no-drag;
    width: 46px;
    height: 100%;
    float: left;
    margin: 0;
    padding: 0;
}



.buttonTheme {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    text-align:center;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonTheme:before {
    content: "\e684";
}

.buttonTheme:hover {
    background-color:#E6E6E6CC !important;
}
.buttonMin {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    text-align:center;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonMin:before {
    content: "\e6b6";
}

.buttonMin:hover {
    background-color:#E6E6E6CC !important;
}

.buttonMax {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    text-align:center;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonMax:before {
    content: "\e6b4";
}

.buttonMax:hover {
    background-color:#E6E6E6CC !important;
}

.buttonRestore {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    text-align:center;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonRestore:before {
    content: "\e6b5";
}

.buttonRestore:hover {
    background-color:#E6E6E6CC !important;
}

.buttonClose {
    font-family: "iconfont" !important;
    font-size: 15px;
    font-style: normal;
    text-align:center;
    line-height: 30px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.buttonClose:before {
    content: "\e6b2";
}

.buttonClose:hover {
    background:#E81123CC !important;
    color: #FFFFFF;
}

.mainTitle {
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    margin-left: 210px;
    margin-right: 120px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 0;
}