body, html {
    margin:0;
    padding:0;
    height: 100%; 
    overflow: hidden;
}


.header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
    height: 30px;
    width: 100%;
    position: absolute;
    top: 0;
}

.ctrlBtn {
    -webkit-user-select: none;
    height: 30px;
    width: 188px;
    position: absolute;
    right: 0;
    top: 0;
}
.ctrlBtn div {
    -webkit-app-region: no-drag;
    -webkit-text-stroke-width: lighter;
    width: 47px;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
}

.win-skin {
    background: url(images/media/win-skin.svg) no-repeat center center;
}
.win-skin:hover {
    background-color:rgba(222,222,222,0.8) !important;
}
.win-min {
    background: url(images/media/win-min.svg) no-repeat center center;
}
.win-min:hover {
    background-color:rgba(222,222,222,0.8) !important;
}
.win-max {
    background: url(images/media/win-max.svg) no-repeat center center;
}
.win-max:hover {
    background-color:rgba(222,222,222,0.8) !important;
}
.win-close {
    background: url(images/media/win-close.svg) no-repeat center center;
}
.win-close:hover {
    background:rgba(232,17,35,0.9) url(images/media/win-close-dark.svg) no-repeat center center !important;
}